* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* display: none; */
}

  
a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 10px 15px;
}

nav div a {
    margin-right: 10px;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-list{
    display: none;
}

.centre{
    display: flex;
    justify-content: center;
}

article{
    margin: 10px;
    margin-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

article h1{
    font-size: 2.5em;;
}

article h2, article p{
    font-size: 1.5em;
}

@media screen and (min-width: 600px) {
    .nav-list{
        display: flex;
    }

    article{
        max-width: 650px;
    }
}

@media screen and (min-width: 1000px) {
    article{
        max-width: 850px;
    }
}