* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* display: none; */
}

body{
    background-color: #D9D9D9;
}
  
a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 10px 15px;
}

nav div a {
    margin-right: 10px;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-list{
    display: none;
}

article{
    margin: 10px;
    margin-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.search{
    width: 80%;
    background-color: #F0ECE9;
    border-radius: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 15px;
    box-shadow: 1px 3px 5px 0.5px #CFD2CF;
}

.search-bar img {
    width: 36px;
}

input {
    margin-left: 15px;
    width: 100%;
    background-color: transparent;
    border-width: 0px;
    box-sizing: unset;
    font-size: 24px;
}

input:focus-visible{
    outline: 0px;
}

container {
    justify-content: center;
}

.result {
    margin: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result p {
    font-size: 20px;
}

.result img {
    width: 24px;
}

br{
    margin: 10px 0px;
}

@media screen and (min-width: 600px) {
    .nav-list{
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    .result p {
        font-size: 24px;
    }
}